<div class="flex flex-col p-6 ">
    <p class="title pb-6">Week's Forecast</p>
    <div class="flex flex-row justify-between flex-nowrap overflow-x-auto gap-20 -mx-4 px-6 py-6">

        <div *ngFor="let day of forecastData" class="small-card rounded-md custom-shadow 
        flex-shrink-0 flex flex-col 
        justify-start   
        items-center">
            
                <p class="mt-4 sub-title">{{ day.date }}</p> <!-- Add margin-bottom for spacing -->
                <img  *ngIf="day.condition.toLowerCase().includes('sunny')" src="assets/images/sun.gif" alt="Weather animation" class="w-24 h-24">
                <img *ngIf="day.condition.toLowerCase().includes('cloudy') || day.condition.toLowerCase().includes('overcast')" src="assets/images/cloudy.gif" alt="Weather animation" class="w-24 h-24">
                <img *ngIf="day.condition.toLowerCase().includes('rain') || day.condition.toLowerCase().includes('snow') " src="assets/images/rain.gif" alt="Weather animation" class="w-24 h-24">
                <div class="flex flex-row pt-2">
                    <p class="temp-one">{{ day.maxTemp | number:'1.0-0' }}°</p>
                    <p class="temp-two">/{{ day.minTemp | number:'1.0-0' }}°</p>
                </div>
                
           
            
        </div>
        

    </div>
</div>